body {
  margin: 0;
  padding: 0;
}

/* Set video background */
#video-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

.container-fluid {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  margin: 0 auto;
  text-align: center;
  width: 30%; /* Adjust the width */
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  transition: background-color 0.3s; /* Add transition effect */
}

.row {
  margin: 0 auto;
}

.quote {
  color: whitesmoke;
  font-size: 1.3em;
  padding: 8px 0;
}

.generate img {
  height: 40px;
}

.generate:hover {
  cursor: pointer;
}
button {
  position: fixed;
  align-content: center;
  background-color:blue;
  color: white;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 10px 20px; /* Adjust padding */
  border-radius: 20px; /* Adjust border radius */
}
button {
  all: unset;
  background-color: var(-);
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border: 1px solid var(--red);
  box-shadow: 0 0 4px var(--red-shadow);
  cursor: pointer;
  perspective: 1000px;
  position: relative;
  overflow: hidden;
  transform: translateX(-50%);
  z-index: 9999;
  padding: 1px 100px;
  color: white;
  position: fixed;
  top: 10px;
  left: 50%;
}

@keyframes pulse {
50% {
  transform: scale(1.5);
}
}

[anim="pulse"]:not(.toggled) {
animation: pulse var(--ease-elastic-in-1) 1500ms infinite;
}

[anim="sheen"]::after {
content: "";
position: absolute;
top: -50%;
right: -50%;
bottom: -50%;
left: -50%;
background: var(--red-sheen);
transform: rotateZ(60deg) translate(-5em, 7.5em);
}

:root {
--black: hsl(0, 0%, 13%);
--dark: hsl(12, 32%, 2%);
--gray: hsl(0, 0%, 70%);
--white: hsl(0, 0%, 96%);
--red: hsl(12, 90%, 63%);
--red-shadow: hsl(12, 100%, 60%);
--red-sheen: linear-gradient(
  to bottom,
  hsl(12, 90%, 43%),
  hsla(12, 40%, 70%, 0.5) 50%,
  hsl(12, 93%, 23%)
);
}
* {
font-family: inherit;
box-sizing: border-box;
}



.blurry {
position: relative;
transform-style: preserve-3d;
}

.blurry::before {
content: "";
position: absolute;
inset: 0px;
transform: translate3d(0px, 0px, -1px);
background: var(--red-shadow);
filter: blur(6px);
}